projectolympics/src/main/app/mostgoldmedals.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="olympic2016.herokuapp.com" port="80" basePath="api" doc:name="HTTP Request Configuration"/>
    <flow name="mostGoldMedals">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mostGoldMedals" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="medal_by_country" method="GET" doc:name="API Request"/>
        <dw:transform-message metadata:id="b31a93d1-43cf-4e2d-90c0-d81cbd04e192" doc:name="Transform Message">
            <dw:input-payload doc:sample="C:\Users\dwight.t.cavalcanti\AnypointStudio\workspace projects\projectolympics\src\api_output.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/json
%output application/json
---
(payload.results[0..4] map {
	country:$.country_name,
	medals:$.gold_count
} orderBy $.medals)[-1..0]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
